@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    @apply bg-gray-300;
}